.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav {
  flex: 1;
}
.div {
  flex: 1;
}
.ordered {
  list-style: none;
}
.a-link {
  text-decoration: none;
}
.h1 {
  text-align: center;
  flex: 1;
}
