<button class="button" routerLink="/movie">
  <span class="material-icons"> home </span>
</button>

<app-favs-card
  *ngFor="let favorite of favorites; index as i"
  [favsRef]="favorite"
  (showInfo)="showDetails(i)"
></app-favs-card>

<div *ngIf="showIndex >= 0" class="pop-up-container" (click)="hideDetails()">
  <div class="movie-pop-up">
    <p>{{ favorites[showIndex].title }}</p>
    <img
      src="https://image.tmdb.org/t/p/w300{{
        favorites[showIndex].backdrop_path
      }}"
    />
    <p>Year Released: {{ favorites[showIndex].release_date | date: "yyyy" }}</p>
    <p class="overview">Overview:{{ favorites[showIndex].overview }}</p>
  </div>
</div>
